In [10]:
ch=input("enter the any charater:")
n=l=u=0
if ch>='0' and ch<='9':
    n+=1
elif ch>='a' and ch<='z':
    l+=1
elif ch>='A' and ch<='Z':
    u+=1    
while ch!="*":  
          ch=input("enter the any charater:")
          if ch>='0' and ch<='9':
               n+=1
          elif ch>='a' and ch<='z':
               l+=1
          elif ch>='A' and ch<='Z':
                u+=1 
print("lower:",l)
print("upper:",u)
print("number:",n)

enter the any charater: 3
enter the any charater: f
enter the any charater: t
enter the any charater: r
enter the any charater: g
enter the any charater: Y
enter the any charater: Y
enter the any charater: 7
enter the any charater:
enter the any charater: 8
enter the any charater: *

lower: 4
upper: 2
number: 3

In [12]:
#simple for loop(string)
str="cheetha"
for i in str:
    print(i,end=' ')

c h e e t h a

In [14]:
#list of string
s=["apple","bannaaa","goa"]
for pet in s:
    print(pet)

apple
bannaaa
goa

In [78]:
# for with-in range
n=int(input("enter the value of n"))
for i in range(21,n+1,2):
    print(i,end=" ")
    #reverse number 
for i in range(50,n+1,-1):
    print(i,end=" ")

enter the value of n 4

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6

In [24]:
n=int(input("enter the value of n"))
for i in range(n,0,-1):        
    print(i,end=" ")

enter the value of n 21

21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [80]:
'''code for printing multiplication table for n where n is entered by the user '''
n=int(input("enter the a number:"))
print("Multiplicaton tale of ",n)
print("***********************")
for i in range(1,11):
        print(n,"X",i,"=",n*i)

enter the a number: 3

Multiplicaton tale of  3
***********************
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [88]:
#program to dispaly all the leap years from 1900,2101
st=int(input("enter the  starting year:"))
en=int(input("enter the ending year:"))
for i in range(st,en+1):
    if i%4==0:
        print(i,end=" ")

enter the  starting year: 1900
enter the ending year: 2102

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [112]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
    a=1/(i**2)
    sum=sum+a
print(sum)

enter a number 5

1.4636111111111112

In [114]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
    a=1/(i/i+n)
    sum=sum+a
print(sum)

enter a number 5

0.8333333333333333

In [144]:
sone=int(input("enter the  day one should start:"))
days=int(input("enter the total number of month:"))
print("sun  mon tue wed thu fri sat")
print("----------------------------")
for i in range(sone-1):
    print(end="           ")
i=sone-1
for j in range(1,days+1):
    if i>7:
       print()
       i=1
    else:
        i+=1
    print(str(j)+ "  ",end=" ")

enter the  day one should start: 2
enter the total number of month: 31

sun  mon tue wed thu fri sat
----------------------------

TypeError: 'str' object is not callable

In [148]:
import calendar
year=2023
month=11
print(calendar.month(year,month))

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [158]:
mdays=31
sdays=2
print("sun  mon  tue  wed  thu  fri  sat")
for _ in range(sdays):
    print(" ", end=" ")
for days in range(1,mdays+1):
    print(f"{days: >3} ", end=' ')
    if(sdays+days) %7==0:
        print()

sun  mon  tue  wed  thu  fri  sat
      1    2    3    4    5
  6    7    8    9   10   11   12
 13   14   15   16   17   18   19
 20   21   22   23   24   25   26
 27   28   29   30   31